#todo{
    margin-bottom: 15px;
}
.todo{
    flex: 1;
}

.row{
    flex:1;
    justify-content:right;
    align-items: right;
}

.Plus{
    font-size:35px;
    cursor:pointer;
    margin-right: 3rem;
}

.ifHeader{
    margin-top: 2rem;
}

#todobtn{
    width:120px;
}